<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>تصدیق</title>
</head>

<style type="text/css">

@import url(http://fonts.googleapis.com/earlyaccess/notonastaliqurdudraft.css);


	h1{
    font-family: 'Noto Nastaliq Urdu Draft', serif;
	font-weight: bold;
	}
	h2{
    font-family: 'Noto Nastaliq Urdu Draft', serif;
    
	}

	h3{
    font-family: 'Noto Nastaliq Urdu Draft', serif;
    
	}




</style>
<body style="background-color:lightsteelblue;">

	<hr>


	<h1 align="center">!جمع کرانے کی تصدیق</h1>
	<hr>
	<h2 align="center"> ہم آپ سے سن کر بہت خوش ہیں۔ ہمارا ان باکس آپ کے پیغامات حاصل کرنے کا انتظار نہیں کر سکتا، اس لیے جب چاہیں ہم سے بات کریں۔
</h2>

<hr>
<h3 align="center">
آپ   بہتر پروڈکٹ بنانے میں ہماری مدد کر رہے ہیں۔</h3>
<hr>


</body>
</html>